.App {
  font-family: sans-serif;
}

.form-section {
  text-align: left;
}

.input-label {
  position: relative;
  margin: 24px 5px 4px;
  display: inline-block;
}

button {
  margin: 20px;
}

.error-message {
  color: red;
  font-size: 12px;
}
